[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	branches = branch -a
	stashes = stash list
	precommit = diff --cached --diff-algorithm=minimal -w
	remotes = remote -v
	unmerged = diff --name-only --diff-filter=U
	delete-merged = !git branch --merged | grep -Ev '\\*|main|master|develop' | xargs git branch -d
	rebase-onto = "!f(){ \
    test -n \"$1\" -a -n \"$2\" || { echo 'usage: git rebase-onto <newbase> <oldbase>'; exit 2; }; \
    git fetch -q origin --prune && git rebase --onto \"$1\" \"$2\"; \
  }; f"


[core]
	editor = vim -c \"set fenc=utf-8\"
	quotepath = false

[pull]
	ff = only

[ghq]
	root = ~/src
