[submodule "vimfiles/neobundle.vim.git"]
	path = vimfiles/neobundle.vim.git
	url = https://github.com/Shougo/neobundle.vim
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
