<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="PowerShell" />
      <package id="GoogleChrome" />
      <package id="Firefox" />
      <package id="skype" />
      <package id="ccleaner" />
      <package id="FoxitReader" />
      <package id="fiddler4" />
      <package id="webpi" />
      <package id="mingw" />
      <package id="mingw-get" />
      <package id="Gow" />
      <package id="javaruntime" />
      <package id="golang" />
      <package id="hg" />
      <package id="php" />
      <package id="poshgit" />
      <package id="rdcman" />
      <package id="SourceTree" />
      <package id="UrlRewrite" />
      <package id="teamviewer" />
      <package id="cmder.portable" />
      <package id="tortoisesvn" />
      <package id="winmerge-jp" />
      <package id="QTTabBar" />
      <package id="wizmouse" />
      <package id="nunit" />
      <package id="Growl" />
    </packages>
